<div class="container show-container my-2">
  <h1><%= @list.name %></h1>
  <%= link_to 'add a bookmark to this list', new_list_bookmark_path(@list) %>
</div>

<div class="cards bookmark-cards">
  <% @list.bookmarks.each_with_index do |bookmark, i| %>
    <div class="bookmark-card">
      <div class="card-content">
        <%= image_tag(bookmark.movie.poster_url, width: 200, height: 200, alt: bookmark.movie.title, crop: :fill) %>
        <h2><%= bookmark.movie.title %></h2>
        <p><%= bookmark.comment %></p>
      </div>
      <div class="delete-section">
        <%= link_to 'Delete', bookmark_path(bookmark), method: :delete %>
      </div>
    </div>
  <% end %>
</div>
